


footer {
    /* margin-top: 30px; */
    height: 100px;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    /* z-index: 1000; */
    /* padding: 15px 0px; */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    text-align: center;
    background-color: rgba(255, 255, 255, 0); 
    /* position: absolute; */
    background: linear-gradient(135deg, rgb(27 26 40 / 44%) 0%, rgb(50 91 148 / 52%) 50%, rgb(64 175 167 / 83%) 100%);

}

footer p {
    text-align: center;
    margin: 0;
}
